<h1>Welcome!</h1>
<div class="index"></div>
<p>Transport Management System includes Load Planning, Vehicle Scheduling, Route optimization and Driver Management for easily manages all Transport Needs.
Logistics providers are faced with numerous challenges, most notably reducing transportation time, controlling rising fuel and vehical costs and compliance with statutory regulations. Krawler's Transportation Management module helps users meet these challenges by providing powerful scheduling and planning tools with business intelligence capabilities. </p>

<b>Vehicle Scheduling</b>
<p>Schedule vehicles for optimal usage and cost savings using rule based driver assignment and select most efficient mode of transport (type of truck). That apart, the up-to-date order status and driver location data, automated alerts and event management, distance determination features help to optimize the vehicle scheduling.</p>

<b>Route optimization</b>
<p>Plan and design truck routes to be at its most efficient. It helps in designing “doable” routes, sequencing and scheduling stops, geographical zone scheduling. The interface has powerful query screens and drill-down functionality, route overrides and detailed mapping and street level restrictions.</p>

<b>Driver Management</b>
<p>Maintain records of driver activities and performance and evaluate driver capability and productivity.</p>